/**{
	border: dashed 1px blue;
}*/

/*INDEX*/
body {
	font-family: Verdana;
	color: rgba(0, 0, 0, 1);
	font-size: 15px;
	text-align: center;
	background-image: url("images/type.jpg");
	background-attachment: fixed;
}

#wrapper {
	margin-left: -100px;
	margin-top: -90px;
	height: 50px;
	width: 110%;
	position: fixed;
	font-size: 17px;
	border: 4px double #000;
	background: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

#wrapper li {
	display: inline;
	padding: 10px;
}

.main {
	margin: 100px;
	padding: 5px;
    height: 600px;
	border: 5px solid rgb(115, 15, 12);
	background: rgba(255, 255, 255, 0.7);
}

#headshot {
	position: right;
}

#headshot img {
	width: 93px;
	height: 153px;
	border-radius: 10em;
	position: right;
}

div.text p {
    margin-right: 200px;
    margin-left: 200px;
    font-size: 15.8px;
    text-align: left;
    padding: 10px;
}

a {
	color: rgba(163, 25, 25, 1);
	text-decoration: none;
	font-weight: bold;

}

a:hover {
	color: #CC0000;
}

/*RESUME*/

div {
    border-radius: 5px;
}

.rmain {
    margin: 100px;
    padding: 40px;
    height: 650px;
    border: 5px solid rgb(115, 15, 12);
    background: rgba(255, 255, 255, 0.7);
}

#header {
    z-index: 1;
    width: 100%;
    margin-top: -20px;
    height: 60px;
    background-color: rgb(80, 80, 80);
    margin-bottom: 10px;
}

#name {
    float:left;
    margin-left: 5px;
    padding-left: 5px;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

#email {
    float:right;
    margin-right: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

.left {
    position: relative;
    float: left;
    margin-top: 5px;
    width: 15%;
    height: 500px;
    background-color: rgb(153, 215, 214);
    margin-bottom: 10px;
}

h4.edu {
    margin-top: 10px;
    font-family: Verdana, sans-serif;
    padding-right: 10px;
    padding-bottom: 40px;
    text-align: right;
}

h4.exp {
    margin-top: 40px;
    font-family: Verdana, sans-serif;
    padding-right: 10px;
    padding-bottom: 240px;
    text-align: right;
}

h4.ski {
    margin-top: 45px;
    font-family: Verdana, sans-serif;
    padding-right: 10px;
    padding-bottom: 0px;
    text-align: right;
}

.right {
    background-color: rgb(225, 226, 226);
    position: relative;
    float: right;
    margin-top: 5px;
    width: 83%;
    height: 500px;
    margin-bottom: 10px;
    text-align: left;
}

.education h4 {
    margin: 10px 5px 5px 5px;
    font-family: Verdana, sans-serif;
}

.education li {
    list-style-type: none;
    font-family: Verdana, sans-serif;
    font-size: 15px;

}

.experience {
    margin-top: 30px;
}

.experience h4 {
    font-family: Verdana, sans-serif;
    margin: 10px 5px 5px 5px;
}

.experience ul {
    list-style-type: circle;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

.skills p {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    padding: 13px 5px 5px 5px;
}

a:hover {
    font-weight: bold;
}

#footer {
    position: relative;
    height: 50px;
    background-color: rgb(80, 80, 80);
    clear: both;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

#footer p {
    position: relative;
    padding-top: 15px;
}


/*GALLERY*/


.gmain {
    margin: 100px;
    padding: 20px;
    border: 5px solid rgb(115, 15, 12);
    background: rgba(255, 255, 255, 0.7);
    height: 850px;
}

div.desc {
    text-align: center;
    font-weight: normal;
    font-style: italic;
    width: 230px;
}

div.img {
    margin: 5px;
    padding: 10px;
    border: 3px solid #000000;
    float: left;
    text-align: center;
} 

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

img.lion {
    height: 300px;
    width: 200px;
}

img.winter {
    height: 300px;
    width: 400px;
}

img.beach {
    height: 300px;
    width: 400px;
}

img.march {
    height: 300px;
    width: 300px;
}

img.georgetown {
    height: 300px;
    width: 756px;
}
